@model IEnumerable<ResearcherItemViewModel>

@{
    ViewBag.Title = "Researchers";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Researchers</h1>
<p class="mb-4">
    Subscribe to your fellow researchers.
</p>

@foreach (var researcher in Model)
{

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@researcher.UserName</h6>
        </div>
        <div class="card-body">
            @if (!researcher.IsSubscribed)
            {
                <form asp-controller="Researchers" asp-action="Subscribe" method="post">
                    <input name="researcherId" type="hidden" value="@researcher.Id"/>
                    <button type="submit" class="btn btn-primary">Subscribe + </button>
                </form>
            }
            else
            {
                <form asp-controller="Researchers" asp-action="Unsubscribe" method="post">
                    <input name="researcherId" type="hidden" value="@researcher.Id"/>
                    <button type="submit" class="btn btn-danger">Unsubscribe - </button>
                </form>
            }
        </div>
    </div>
}


